<div class="text-center jumbotron">
	<% provide(:title, "Home")%>
	<h1> Home </h1><hr 1px>
	<p> This is home page of Tweet app</p>
	<%= link_to "Sign up now!", signup_path, class:"btn btn-primary"%>
</div>
